.g-signin2 {
  
    width: 170px;
    height: 41px;
    position: fixed;
    top: 395px;
    left: 770px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    
    cursor: pointer;
  
  }
  
  
  #username-label {
    position: fixed;
    top: 245px;
    font-weight: 700;
    font-style: italic;
    left: 600px;
  }
  
  #password-label {
    position: fixed;
    top: 325px;
    font-weight: 700;
    font-style: italic;
    left: 600px;
  }
  
   .student-login-div, .staff-login-div, .login-container {
    width: 550px;
    height: 470px;
    
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  
  #staff-sign-in {
      position: fixed;
      top: 150px;
      left: 725px;
      text-decoration: none;
      font-weight: 700;
      font-size:24px ;
      
    }
    #sign-in-message {
      position: fixed;
      top: 200px;
      left: 610px;
      text-decoration: none;
      font-weight: 200;
      font-size: 16px;
    }
  
  
    .staff-login-div {
    
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .staff-login-div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  
  .staff-login-div label {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
    
  }
  
  .staff-login-div input[type="text"],
  .staff-login-div input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #ccc;
    
    transition: border-color 0.2s ease-in-out;
  }
  
  
  
  .staff-login-div input[type="text"] {
    position: fixed;
    width: 22%;
    top: 270px;
    left: 599px;
  }
  
  .staff-login-div input[type="password"] {
    position: fixed;
    width: 22%;
    top: 350px;
    Left: 599px;
  }
  
  .staff-login-div input[type="text"]:focus,
  .staff-login-div input[type="password"]:focus {
    border-color: #114e91;
    background-color: #f1f1f1;
  }
  
  
  .student-login-div, .staff-login-div {
    display: none;
  }
  .staff-login-div input[type="submit"] {
    width: 170px;
    position: fixed;
    top: 405px;
    left: 600px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #114e91;
    border: none;
    border-radius: 0px;
    cursor: pointer;
  }
  
  .staff-login-div input[type="submit"]:hover {
    background-color: #0e345e;
    border-color: #393434 2px solid;
  }
  
  
  .staff-login-div  {
    margin-bottom: 20px;
    width: 550px;
    height: 470px;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  
  
    .account-type-item1 {
      position: relative;
      top:280px;
      left: 95px;
    }
    .account-type-item2 {
      position: relative;
      top: 280px;
      left: 85px;
    }
    .student-btn {
      position: fixed;
      top: -200px;
    }
   .container {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .account-type-item1:hover, .account-type-item2:hover {
      transition: ease-in 0.2s;
      border: #114e91 solid 3px;
      background-color: rgb(242, 229, 229);
  
    }
    .staff-tag-secondary { 
      position: fixed;
      top: 110px;
      left: 750px;
    }
  
    .student-tag-shc {
      position: inherit;
    }
  
    #school-tag, #student-tag {
      font-size: 18px;
    }
    #school-tag:hover, #student-tag:hover {
      color: #1869c1;
    }  
    .account-type-item1, .account-type-item2 {
      height: 128px;
      width: 160px;
      margin: 8px 8px 8px 8px;
      padding: 16px 16px 16px 16px;
      border: #000000 3px solid;
      border-radius: 16px;
      text-align: center;
      font-size: 16px;
      background-color: #ffffff;
      cursor: pointer;
      box-shadow:  rgb(17, 78, 145) 0px 0px 0px ;
      text-decoration: rgb(17, 78, 145);
    }
    #student-tag, #school-tag {
      position: relative;
      top: 6px;
    }
    .login-container {
      background-color: white;
      font-size: 16px;
      word-spacing: 0px;
      line-height: 24px;
      display: block;
      position: relative;
      top: 40px;
      border-radius: 5px;
      right: -487px;
    }
    .login-logo-shc {
      display: block;
      position: absolute;
      top: 48px;
      right: 112px;
    }
    body {
      background-color: #114e91;
      overflow: hidden;
    }
    #sign-in{
      text-align: center;
      position:fixed;
      top: 178px;
      left: 710px;
      color: #212529;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
    }
    #account-type {
      position: fixed;
      top: 230px;
      left: 650px
    }
  
    .button-back {
    
    font-size: 14px;
    height: 29px;
    width: 200px;
    padding: 4px 8px 4px 8px;
    color: #6c757D;
    transition: color 0.15s ease-in-out 0s;
    background-color: transparent;
    border: none;
    vertical-align: middle;
    min-height: auto;
    min-width: auto;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid transparent;
    cursor: pointer;
  }
  
  .button-back:hover {
    color: #6c757D;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    text-decoration: underline;
  } 
  
  
  