body, p, h1, h2, h3, h4, h5, .devices, .datepicker, .datepicker-container, input, button, .th, .td {
  color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.main_title {
  position: relative;
  top: -125px;
  right: -57px;
  z-index: 2;
}
.main_hr {
  position: relative;
  top: -180px;
  right: 0px;
}
#admin-span {
  position: relative;
  top: -50px;
  color: white;
  left: -10px;
}

#admin-span:hover {
  color: #bab9b9;
}



#login-btn {
  cursor: pointer;
  color: #ffffff;
  position: relative;
  top: -92px;
  left: 1150px;
  font-size: 14.5px;

}





#login-btn:hover {
  text-decoration: underline;
  z-index: 9;
}

#logout-btn {
  cursor: pointer;
  color: #ffffff;
  background-color: #114e91;
  position: relative;
  top: -260px;
  left: 1450px;
  border: 0px;
}

#logout-btn:hover {
  text-decoration: underline;
}

#return-btn {
  background-color: #ffffff;
  color: #008000;
  border: #008000 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
  left: 1325px;
  z-index: 3;
  top: -63px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#return-btn:hover {
  background-color: #008000;
  border: #008000 1px solid;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
