

#newdevice-submit {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    position: inherit;
    top: -35px;
    left: -2px;
   
    background-color: #ffffff;
color: #008000;
border: #008000 1px solid;
border-radius: 4px;
padding: 10px 20px;
cursor: pointer;
transition: all 0.2s ease-in-out;
pointer-events: auto;
position: relative;
z-index: 100;
  }
  
  #newdevice-submit:hover {
    background-color: #008000;
border: #008000 1px solid;
color: #ffffff;
border-radius: 4px;
cursor: pointer;
transition: all 0.2s ease-in-out;
  }
  
    
    .select-container {
    position: relative;
    display: inline-block;
    top:-45px;
    left: -1px;
  }
  
  /* Styling the select element */
  .select-container select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 140px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  /* Styling the arrow icon */
  .select-container::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    left:115px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Styling when select element is open */
  .select-container.select-open select {
    border-color: #888;
  }
  
  /* Styling the dropdown options */
  .select-container select option {
    font-size: 16px;
  }
  
  /* Styling when an option is selected */
  .select-container.select-open select option:checked {
    background-color: #f0f0f0;
  }
  
    #device_id,
    #notes {
      width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    margin: 0 auto;
    border: none;
    left: -5px;
    position: inherit;
    background: #f1f1f1;
    }
  
    #device_id:focus,
    #notes:focus {
      background-color: #ddd;
      outline: none;
    }
  
    body {
      background-color: #ccc;
    }
  
    .new-device-container {
      position: fixed;
      top: 50%;
      left: 50%;
      height: 340px;
      width: 400px;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      padding: 20px;
      border-radius: 12px;
      z-index: 10000;
    }

    .notescontainer {
      position: relative;
      top: -50px;
    }
  
  
    #notes {
      position: relative;
      left: -125px;
    }
    .main_title {
      position: relative;
      left:50px;
    }
  
    .openbtn {
  background-color: #edebeb;
  color: black;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  position:relative;
  top: -60px;
  cursor: pointer;
  left: -7px;
  }
  .newdevice-title {
    margin-bottom: 10px;
    position: relative;
    top: -30px;
  }

  #device_id {
  width: 30%;
  position: relative;
  left: -125px;    
  }

  #idcontainer {
    position: relative;
    top: -45px;
  }


