
.sidenavheader {
    color: white;
    font-size: 20px;
    position: relative;
    right: 15px;
    top: -10px
}          
body, h1, h2, h3, h4, h5 {
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.img {
position:  absolute;
left: 14px;
top: 7px;
}

.main_header{
left: 60px;
top: -60px;
position: relative;
}
body {
font-family: "Lato", sans-serif;
}
.help{
  position: relative;
  bottom: 0px;
  width: 100%;
}


    .sidebar {
width: 200px;
height: 100%;
background-color: #0d3e7d;
padding: 20px;
position: fixed;
top: 80px;
left: 0;
z-index: 10;
display: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.sidebar a {
display: block;
padding: 10px;
text-decoration: none;
color: white;
font-size: 15px;
cursor: pointer;
}

.sidebar a:hover {
background-color: rgba(255, 255, 255, 0.1);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
font-size: 15px;
cursor: pointer;

}

.accordion {
background-color: #0d3e7d;
color: #ffffff;
cursor: pointer;
top: -20px;
padding: 10px;
font-size: 17px;
width: 100%;
text-align: left;
cursor: pointer;

border: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
outline: none;
}

.active, .accordion:hover {
background-color: #0f4a97;
color: rgb(183, 176, 176);
cursor: pointer;

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

.panel {
padding: 0 10px;
background-color: #0d3e7d;
display: none;
cursor: pointer;

overflow: hidden;
transition: max-height 0.2s ease-out;

}

.panel a {
display: block;
padding: 10px;
text-decoration: none;
cursor: pointer;

color: #ccc;
}

.panel.active {
max-height: 500px; /* Adjust this value to match the height of your content */
}
.panel a:hover{
color: #007bff;
}
.openbtn {
background-color: #ffffff;
color: black;
cursor: pointer;
padding: 10px 15px;
border: none;
border-radius: 5px;
font-size: 30px;
position:relative;
top: -60px;
cursor: pointer;
left: -7px;
}

.openbtn:hover {
background-color: #f1f1f1;
}

.closebtn {
position: relative;
top: -10px;
cursor: pointer;
z-index: 9;
right: -220px;
font-size: 30px;
color: #007bff;
cursor: pointer;
border: none;
background-color: transparent;
}

.closebtn:hover {
color: #000000;
}

hr {
border-color: #ccc;
}
.openbtn {
  position: relative;
  top: -50px;
}




.main-container {
  z-index: 2;
}

.devices {
  z-index: -2;
}



.main_title {
  position: relative;
  top: -170px;
  right: -57px;
  z-index: 2;
}

