body {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }

  .img1{

    position:  absolute;
    left: 14px;
    top: 7px;
  }
  #main_header {
    position: absolute;
    left: 7%;
    top: 60px;
  }
