<!DOCTYPE html> 
  <html lang="en-US">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <head>
        <meta charset="utf-8">
        <style type="text/css" ></style>
        <meta name="author" content="LG17057">
        <meta name="description" content="A website framework designed for scholarship, with the aim to provide a device logbook for students using rental devices">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="DeviceLog">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/side_nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/date_picker.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/download_logs.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
        <script src="{{ url_for('static', filename='js/open_nav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/date_picker.js') }}"></script>

      </head>
      <div class="topheader">
        <div style="width:100%;height:80px;border:none; z-index:-2; background-color: #114e91; position: absolute; top:0px; left:0;"></div>
        <br><br><br>
        <a title="Home Page" style="cursor: pointer;"onclick="window.location.href='/'"><img style="position:relative; top:-65px;" class="img1" title="Home Page" src="{{ url_for('static', filename='shc-logo.svg') }}" z-index="-1" width="300px" height="65px" alt="sacred heart logo"></a>
        {% if loginstatus %}
          <span id="admin-span" onclick="window.location.href='/admin'"  title="Admin Options" class="fa fa-user-circle-o" style="font-size:36px;cursor:pointer;float: right;"></span>
        {% else %}
          <a onclick="window.location.href='/login-page'"  class="button" id="login-btn">Sign In</a>
        {% endif %}
      </div>
      <button class="openbtn" title="Open Nav" onclick="toggleNav()">☰ </button>
      
      <div class="sidebar" id="mySidebar">
        <button class="closebtn" title="Close Nav" onclick="toggleNav()">×</button>
        <h3 class="sidenavheader">Options</h3>
        <div class=side-panel1>
          <hr>
          <button class="accordion" title="Rental Logs Options" onclick="togglePanel(this)">Rental Logs</button>
          <div class="panel">
            <a onclick="window.location.href='/new-log'">New Rental</a>
            <a onclick="window.location.href='/sign-off'">Sign Off Rental</a>
            <a onclick="window.location.href='/overdues'">Overdue Rentals</a>
            <a onclick="window.location.href='/rental-logs'">View Rental Logs</a>
          </div>
        </div>
        <div class=side-panel2>
          <hr>
          <button class="accordion" title="Devices Options" onclick="togglePanel(this)">Devices</button>
          <div class="panel">          
            <a onclick="window.location.href='/new-item'">New Device</a>
            <a onclick="window.location.href='/circulations'">Circulating Devices</a>
            <a onclick="window.location.href='/modify-device'">Modify Current Device</a>
            <a onclick="window.location.href='/device-logs'">View Current Devices</a>
          </div>
        </div>
        <div class=side-panel3>
          <hr>
          <button class="accordion"  title="Statistics Options" onclick="togglePanel(this)">Data</button>
          <div class="panel">
            <a onclick="window.location.href='/student-data'">Student Data</a>
            <a onclick="window.location.href='/download-logs'">Rental Data</a>
            <a onclick="window.location.href='/previous-downloads/'">Prev. Downloads</a>

          </div>
        </div>
        <div class=side-panel4>
          <hr>
          <button class="accordion" title="Admin Options" onclick="togglePanel(this)">Admins</button>
          <div class="panel">
            <a onclick="window.location.href='/admin'">Admin Page</a>
            <a onclick="window.location.href='/login-page'">Login Page</a>
            
          </div>
          <div class="help">
            <a onclick="window.location.href='/help'" title="help">Help</a>
          </div>
        </div>  
      </div>
</html>
<title>Rental Log - Dash</title>
<div class="other-options-container">
  <div class="content-options-ctnr">
    <h2 id="other-options-title">Other Options;</h2>
    <form  id="other-options-form" name="other-options-form" method="POST">
      <div class="select-container-other-optns">
        <select required id="format-picker-other-optns" name="format-picker-other-optns" >
          <option selected value="">Data Format:</option>
          <option value="CSV">CSV</option>
          <option value="PDF">PDF</option>
        </select>
      </div>
      <input type="text" id="set-filename" class="input-field" placeholder="Set Custom Filename">
    </form>
    <hr style="width: 60%; position: relative; top:-30px; left: -40px;">
    <button onclick="window.location.href='/previous-downloads/'" id="view-downloads-button">Previous Downloads</button>
    <button  id="view-barcodes-button">View Barcodes</button>

  </div>
</div>
<div class="primary-container">
  <h1 class="main_title">{{message}}</h1>
  <div class="download-container">
    <div class="modal-return">
      <div class="bar">
        <div class="header" onclick="toggleBar(1)">Rental Data<span class="arrow">&#8595;</span></div>
        <div class="content" id="content-bar1">
          <h2>Select Constraints;</h2>
          <form id="content-bar1-form" name="content-bar1-form" method="POST">
            <input type="hidden" name="form_type" value="content-bar1">
            <ul>
              <li>
                <div id="type-picker-container-bar1">
                  <input type="checkbox" id="checkbox-bar1-1" class="checkbox-bar1 clearchecks" name="checkbox-bar1-1">
                  <div class="select-container-bar1">
                    <select id="device-picker-bar1" name="device-picker-bar1" >
                      <option selected value="">Device Type:</option>
                      <option value="iPad">iPad</option>
                      <option value="Laptop">Laptop</option>
                      <option value="Chromebook">Chromebook</option>
                    </select>
                  </div>
                  
                </div>
              </li>
              <li>
                <div id="id-picker-container-bar1">
                  <input type="checkbox" id="checkbox-bar1-2" class="checkbox-bar1 clearchecks"  name="checkbox-bar1-2">
                  <input type="number" id="idpicker-bar1" class="input-field idpicker-bar1" name="device-id-bar1" placeholder="Device ID">
                </div>
              </li>
              <li>
                <div id="date-picker-container-num1-bar1">
                  <input type="checkbox" id="checkbox-bar1-3" class="checkbox-bar1 clearchecks"  name="checkbox-bar1-3">
                    <div class="datepicker">
                      <input type="date" id="date-picker-bar1-1" name="date-picker-bar1-1" class="date-picker">
                    </div>
                </div>
              </li>
              <li>
                <div id="date-picker-container-num2-bar1">
                  <input type="checkbox" id="checkbox-bar1-4"class="checkbox-bar1 clearchecks"  name="checkbox-bar1-4">
                    <div class="datepicker">
                      <input type="date" id="date-picker-bar1-2"name="date-picker-bar1-2" class="date-picker">
                    </div>
                </div>
              </li>
              <li id="checkboxlist1">
                <input type="checkbox" id="checkbox-bar1-5" class="checkbox-bar1 clearchecks"  name="exclude-overdues-bar1"><p class="checkbox-label" id="overdues-bar1">Exclude Overdues</p>
              </li>
              <li id="checkboxlist2">
                <input type="checkbox" id="checkbox-bar1-6" class="checkbox-bar1 clearchecks"  name="exclude-confirmed-bar1"><p class="checkbox-label" id="confirmed-bar1">Exclude Confirmed</p>
              </li>
              <li id="checkboxlist3">
                <input type="checkbox" id="checkbox-bar1-7" class="checkbox-bar1 clearchecks"  name="exclude-unreturned-bar1"><p class="checkbox-label" id="unreturned-bar1">Exclude Un-returned</p>
              </li>
              <li id="checkboxlist4">
                <input type="checkbox" id="checkbox-bar1-8" class="checkbox-bar1" onclick=clearCheckboxes() name="select-all-bar1"><p class="checkbox-label" id="select-all-bar1">Select All Logs (Default Input)</p>
              </li>
              <p id="to-bar1">To</p>
              <p  id="error-message-bar1" class="error-message"></p>
              <p id="messages-text-bar1"> </p>
            </ul>        
                
          </form>
          
          
        </div>
      </div>
      <div class="bar">
        <div class="header" onclick="toggleBar(2)">Device Data<span class="arrow">&#8595;</span></div>
        <div class="content" id="content-bar2">
          <h2>Select Constraints;</h2>
          <form id="content-bar2-form" name="content-bar2-form" method="POST">
            <input type="hidden" name="form_type" value="content-bar2">
            <ul>
              <li>
                <div id="type-picker-container-bar2">
                  <input type="checkbox" id="checkbox-bar2-1" class="checkbox-bar2 clearchecks"  name="checkbox-bar2-1">
                  <div class="select-container-bar2">
                    <select id="device-picker-bar2" name="device-picker-bar2" >
                      <option selected value="">Device Type:</option>
                      <option value="iPad">iPad</option>
                      <option value="Laptop">Laptop</option>
                      <option value="Chromebook">Chromebook</option>
                    </select>
                  </div>
                </div>
              </li>
              <li>
                <div id="id-picker-container-bar2">
                  <input type="checkbox" id="checkbox-bar2-2" class="checkbox-bar2 clearchecks"  name="checkbox-bar2-2">
                  <input type="number" id="idpicker-bar2" class="input-field idpicker-bar2" name="device-id-bar2" placeholder="Device ID">
                </div>
              </li>
              <li>
                <div id="date-picker-container-num1-bar2">
                  <input type="checkbox" id="checkbox-bar2-3" class="checkbox-bar2 clearchecks"  name="checkbox-bar2-3">
                    <div class="datepicker">
                      <input type="date" id="date-picker-bar2-1" name="date-picker-bar2-1" class="date-picker">
                    </div>
                </div>
              </li>
              <li>
                <div id="date-picker-container-num2-bar2">
                  <input type="checkbox" id="checkbox-bar2-4"class="checkbox-bar clearchecks"  name="checkbox-bar2-4">
                    <div class="datepicker">
                      <input type="date" id="date-picker-bar2-2"name="date-picker-bar2-2" class="date-picker">
                    </div>
                </div>
              </li>
              <li id="checkboxlist1">
                <input type="checkbox" id="checkbox-bar2-5" class="checkbox-bar2 clearchecks"  name="in-circulation-bar2"><p class="checkbox-label" id="in-circulation-bar2">Exclude In Circulation</p>
              </li>
              <li id="checkboxlist2">
                <input type="checkbox" id="checkbox-bar2-6" class="checkbox-bar2 clearchecks"  name="select-all-bar2"><p class="checkbox-label" id="select-all-bar2">Select All Devices (Default Input)</p>
              </li>
              
              <p id="to-bar2">To</p>
              <p  id="error-message-bar2" class="error-message"></p>
              <p id="messages-text-bar2"> </p>
            </ul>
          </form>
          <br>
        </div>
      </div>
      <div class="bar">
        <div class="header" onclick="toggleBar(3)">Student Data<span class="arrow">&#8595;</span></div>
        <div class="content" id="content-bar3">
          <p>Currently unavailable for tracking/download</p>
          <!--
          <h2>Select Constraints;</h2>
          <form id="content-bar3-form" name="content-bar3-form" method="POST">
            <input type="hidden" name="form_type" value="content-bar3">
            <p>Currently unavailable for tracking/download</p>
            <ul>
              <li>
                <div id="type-picker-container-bar3">
                  <input type="checkbox" id="checkbox-bar3-1" class="checkbox-bar"  name="checkbox-bar3-1">
                </div>
              </li>
              <li>
                <div id="id-picker-container-bar3">
                  <input type="checkbox" id="checkbox-bar3-2" class="checkbox-bar"  name="checkbox-bar3-2">
                </div>
              </li>
              <li>
                <div id="date-picker-container-num1-bar3">
                  <input type="checkbox" id="checkbox-bar3-3" class="checkbox-bar"  name="checkbox-bar3-3">
                </div>
              </li>
              <li>
                <div id="date-picker-container-num2-bar3">
                  <input type="checkbox" id="checkbox-bar3-4"class="checkbox-bar"  name="checkbox-bar3-4">
                </div>
              </li>
              <li>
                <div>
                  <input type="checkbox" id="checkbox-bar3-5" class="checkbox-bar"  name="checkbox-bar3-5">
                </div>
              </li>
            </ul>
          </form>
        -->
          <br>
        </div>
      </div>
    </div>
  </div>
  
  <button class="confirm-btn" id="confirm-button" >Confirm Selection</button>
</div>

<!-- BAR 1 JAVASCRIPT-->

<!--CHECKBOX DATE THING; if the first one is checked/unchecked the second appears/disappears-->
<!--SLIDING ANIMATIon-->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var dateCheckbox1 = document.getElementById('checkbox-bar1-3');
    var dateContainer2 = document.getElementById('date-picker-container-num2-bar1');

    function toggleDate2() {
      if (dateCheckbox1.checked) {
        dateContainer2.classList.add('show-datepicker');
        dateContainer2.classList.remove('hide-datepicker');
      } else {
        dateContainer2.classList.remove('show-datepicker');
        dateContainer2.classList.add('hide-datepicker');
      }
    }

    dateCheckbox1.addEventListener('change', toggleDate2);
  });
</script>
<script>
  // Get the checkbox elements
  const checkbox1 = document.getElementById('checkbox-bar1-3');
  const checkbox2 = document.getElementById('checkbox-bar1-4');
  const container2 = document.getElementById('date-picker-container-num2-bar1');
  const tobar = document.getElementById('to-bar1');
  // Hide the container initially
  container2.style.display = 'none';
  tobar.style.display = 'none';

  // Add event listener to checkbox1
  checkbox1.addEventListener('change', function() {
    if (checkbox1.checked) {
      container2.style.display = 'block';
      tobar.style.display = 'block'

    } else {
      container2.style.display = 'none';
      tobar.style.display = 'none';

      checkbox2.checked = false; // Uncheck checkbox2 if it was checked
    }
  });
</script>
<!-- IF CHECKBOX IS CHECKED THEN INPUT IS SET TO REQUIRED-->
<script>
  // Get the checkbox and input elements for content-bar1
  const checkboxes = document.querySelectorAll('#content-bar1 .checkbox-bar');
  const inputs = document.querySelectorAll('#content-bar1 input[type="text"], #content-bar1 input[type="number"], #content-bar1 select, input[type="date"]');

  // Add event listeners to checkboxes
  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      const inputContainer = checkbox.closest('.checkbox-bar').nextElementSibling;
      const input = inputContainer.querySelector('input, select');
      
      if (checkbox.checked) {
        input.required = true;
      } else {
        input.required = false;
      }
    });
  });
</script>
<!-- DATE 2 CANNOT BE LESS THAN DATE 1 -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var date1Input = document.getElementById('date-picker-bar1-1');
    var date2Input = document.getElementById('date-picker-bar1-2');
    var date1Checkbox = document.getElementById('checkbox-bar1-3');
    var date2Checkbox = document.getElementById('checkbox-bar1-4');
    var errorElement = document.getElementById('error-message-bar1');

    function validateDates() {
      var date1 = date1Input.value;
      var date2 = date2Input.value;

      if (date2Checkbox.checked && date1 && date2 && date2 < date1) {
        errorElement.textContent = 'End Date cannot be earlier than Start Date.';
        return false;
      }

      if (!date1Checkbox.checked) {
        errorElement.textContent = '';
        return true;
      }

      errorElement.textContent = '';
      return true;
    }

    date1Input.addEventListener('input', validateDates);
    date2Input.addEventListener('input', validateDates);
    date1Checkbox.addEventListener('change', validateDates);
    date2Checkbox.addEventListener('change', validateDates);
  });
</script>   
<!-- DEVICE ID AND TYPE HAVE TO MATCH-->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var devicepicker = document.getElementById("device-picker-bar1");
    var idpicker = document.getElementById("idpicker-bar1");
    var messagesText = document.getElementById("messages-text-bar1");
    var submitButton = document.getElementById("bar1-confirm");

    function validateInput(input) {
      input.value = input.value.replace(/[^0-9]/g, ''); 
      input.value = input.value.slice(0, 4); 
      if (input.value < 0) {
        input.value = ''; 
      }
      updateMessage();
      updateSubmitButton();
    }

    function updateMessage() {
      var selectedDeviceType = devicepicker.value;
      var enteredDeviceId = idpicker.value;

      var deviceIds = {{ device_ids|tojson }};
      var deviceTypes = {{ device_types|tojson }};

      var matchingDeviceIds = [];
      for (var i = 0; i < deviceTypes.length; i++) {
        if (deviceTypes[i] === selectedDeviceType) {
          matchingDeviceIds.push(deviceIds[i]);
        }
      }

      if (enteredDeviceId !== "" && matchingDeviceIds.indexOf(enteredDeviceId) === -1) {
        messagesText.style.color = "red";
        messagesText.textContent = "Please select valid Device Type and ID.";
      } else {
        messagesText.style.color = "green";
        messagesText.textContent = enteredDeviceId !== "" ? "Valid selection" : "";
      }
    }

    function updateSubmitButton() {
      var selectedDeviceType = devicepicker.value;
      var enteredDeviceId = idpicker.value;

      var deviceIds = {{ device_ids|tojson }};
      var deviceTypes = {{ device_types|tojson }};

      var matchingDeviceIds = [];
      for (var i = 0; i < deviceTypes.length; i++) {
        if (deviceTypes[i] === selectedDeviceType) {
          matchingDeviceIds.push(deviceIds[i]);
        }
      }

      if (
        enteredDeviceId === "" || // No ID entered
        matchingDeviceIds.indexOf(enteredDeviceId) === -1 || // Invalid ID
        (selectedDeviceType !== "" && enteredDeviceId === "") // Only device type selected
      ) {
        submitButton.disabled = true;
        submitButton.style.cursor = "disabled";
      } else {
        submitButton.disabled = false;
        submitButton.style.cursor = "pointer";
      }
    }

    function submitForm(event) {
      var selectedDeviceType = devicepicker.value;
      var enteredDeviceId = idpicker.value;

      var deviceIds = {{ device_ids|tojson }};
      var deviceTypes = {{ device_types|tojson }};

      var matchingDeviceIds = [];
      for (var i = 0; i < deviceTypes.length; i++) {
        if (deviceTypes[i] === selectedDeviceType) {
          matchingDeviceIds.push(deviceIds[i]);
        }
      }

      if (
        enteredDeviceId === "" || // No ID entered
        matchingDeviceIds.indexOf(enteredDeviceId) === -1 || // Invalid ID
        (selectedDeviceType !== "" && enteredDeviceId === "") // Only device type selected
      ) {
        messagesText.style.color = "red";
        messagesText.textContent = "Please select valid Device Type and ID.";
        event.preventDefault(); // Prevent form submission
      }
    }

    devicepicker.addEventListener("change", function() {
      updateMessage();
      updateSubmitButton();
    });

    idpicker.addEventListener("input", function() {
      validateInput(this);
    });

    document.getElementById("device-form").addEventListener("submit", function(event) {
      submitForm(event);
    });
  });
</script>


<!--------------------------------------------------------------------------------------------------------->
<!-- BAR 2 JAVASCRIPT-->
<!--CHECKBOX DATE THING; if the first one is checked/unchecked the second appears/disappears-->
<!--SLIDING ANIMATION-->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var dateCheckbox2 = document.getElementById('checkbox-bar2-3');
    var dateContainer2 = document.getElementById('date-picker-container-num2-bar2');

    function toggleDate2() {
      if (dateCheckbox2.checked) {
        dateContainer2.classList.add('show-datepicker');
        dateContainer2.classList.remove('hide-datepicker');
      } else {
        dateContainer2.classList.remove('show-datepicker');
        dateContainer2.classList.add('hide-datepicker');
      }
    }

    dateCheckbox2.addEventListener('change', toggleDate2);
  });
</script>
<script>
  // Get the checkbox elements
  const checkbox3 = document.getElementById('checkbox-bar2-3');
  const checkbox4 = document.getElementById('checkbox-bar2-4');
  const container3 = document.getElementById('date-picker-container-num2-bar2');
  const tobar2 = document.getElementById('to-bar2');
  // Hide the container initially
  container3.style.display = 'none';
  tobar2.style.display = 'none';

  // Add event listener to checkbox3
  checkbox3.addEventListener('change', function() {
    if (checkbox3.checked) {
      container3.style.display = 'block';
      tobar2.style.display = 'block';
    } else {
      container3.style.display = 'none';
      tobar2.style.display = 'none';

      checkbox4.checked = false; // Uncheck checkbox4 if it was checked
    }
  });
</script>
<!-- IF CHECKBOX IS CHECKED THEN INPUT IS SET TO REQUIRED-->
<script>
  // Get the checkbox and input elements for content-bar2
  const checkboxes2 = document.querySelectorAll('#content-bar2 .checkbox-bar');
  const inputs2 = document.querySelectorAll('#content-bar2 input[type="text"], #content-bar2 input[type="number"], #content-bar2 select, input[type="date"]');

  // Add event listeners to checkboxes2
  checkboxes2.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      const inputContainer = checkbox.closest('.checkbox-bar').nextElementSibling;
      const input = inputContainer.querySelector('input, select');
      
      if (checkbox.checked) {
        input.required = true;
      } else {
        input.required = false;
      }
    });
  });
</script>
<!-- DATE 2 CANNOT BE LESS THAN DATE 1 -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var date1Input2 = document.getElementById('date-picker-bar2-1');
    var date2Input2 = document.getElementById('date-picker-bar2-2');
    var date1Checkbox2 = document.getElementById('checkbox-bar2-3');
    var date2Checkbox2 = document.getElementById('checkbox-bar2-4');
    var errorElement2 = document.getElementById('error-message-bar2');

    function validateDates2() {
      var date1 = date1Input2.value;
      var date2 = date2Input2.value;

      if (date2Checkbox2.checked && date1 && date2 && date2 < date1) {
        errorElement2.textContent = 'End Date cannot be earlier than Start Date.';
        return false;
      }

      if (!date1Checkbox2.checked) {
        errorElement2.textContent = '';
        return true;
      }

      errorElement2.textContent = '';
      return true;
    }

    date1Input2.addEventListener('input', validateDates2);
    date2Input2.addEventListener('input', validateDates2);
    date1Checkbox2.addEventListener('change', validateDates2);
    date2Checkbox2.addEventListener('change', validateDates2);
  });
</script>
<!-- DEVICE ID AND TYPE HAVE TO MATCH-->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var devicepicker2 = document.getElementById("device-picker-bar2");
    var idpicker2 = document.getElementById("idpicker-bar2");
    var messagesText2 = document.getElementById("messages-text-bar2");
    var submitButton2 = document.getElementById("bar2-confirm");

    function validateInput2(input) {
      input.value = input.value.replace(/[^0-9]/g, ''); 
      input.value = input.value.slice(0, 4); 
      if (input.value < 0) {
        input.value = ''; 
      }
      updateMessage2();
      updateSubmitButton2();
    }

    function updateMessage2() {
      var selectedDeviceType2 = devicepicker2.value;
      var enteredDeviceId2 = idpicker2.value;

      var deviceIds2 = {{ device_ids|tojson }};
      var deviceTypes2 = {{ device_types|tojson }};

      var matchingDeviceIds2 = [];
      for (var i = 0; i < deviceTypes2.length; i++) {
        if (deviceTypes2[i] === selectedDeviceType2) {
          matchingDeviceIds2.push(deviceIds2[i]);
        }
      }

      if (enteredDeviceId2 !== "" && matchingDeviceIds2.indexOf(enteredDeviceId2) === -1) {
        messagesText2.style.color = "red";
        messagesText2.textContent = "Please select valid Device Type and ID.";
      } else {
        messagesText2.style.color = "green";
        messagesText2.textContent = enteredDeviceId2 !== "" ? "Valid selection" : "";
      }
    }

    function updateSubmitButton2() {
      var selectedDeviceType2 = devicepicker2.value;
      var enteredDeviceId2 = idpicker2.value;

      var deviceIds2 = {{ device_ids|tojson }};
      var deviceTypes2 = {{ device_types|tojson }};

      var matchingDeviceIds2 = [];
      for (var i = 0; i < deviceTypes2.length; i++) {
        if (deviceTypes2[i] === selectedDeviceType2) {
          matchingDeviceIds2.push(deviceIds2[i]);
        }
      }

      if (
        enteredDeviceId2 === "" || // No ID entered
        matchingDeviceIds2.indexOf(enteredDeviceId2) === -1 || // Invalid ID
        (selectedDeviceType2 !== "" && enteredDeviceId2 === "") // Only device type selected
      ) {
        submitButton2.disabled = true;
        submitButton2.style.cursor = "disabled";
      } else {
        submitButton2.disabled = false;
        submitButton2.style.cursor = "pointer";
      }
    }

    function submitForm2(event) {
      var selectedDeviceType2 = devicepicker2.value;
      var enteredDeviceId2 = idpicker2.value;

      var deviceIds2 = {{ device_ids|tojson }};
      var deviceTypes2 = {{ device_types|tojson }};

      var matchingDeviceIds2 = [];
      for (var i = 0; i < deviceTypes2.length; i++) {
        if (deviceTypes2[i] === selectedDeviceType2) {
          matchingDeviceIds2.push(deviceIds2[i]);
        }
      }

      if (
        enteredDeviceId2 === "" || // No ID entered
        matchingDeviceIds2.indexOf(enteredDeviceId2) === -1 || // Invalid ID
        (selectedDeviceType2 !== "" && enteredDeviceId2 === "") // Only device type selected
      ) {
        messagesText2.style.color = "red";
        messagesText2.textContent = "Please select valid Device Type and ID.";
        event.preventDefault(); // Prevent form submission
      }
    }

    devicepicker2.addEventListener("change", function() {
      updateMessage2();
      updateSubmitButton2();
    });

    idpicker2.addEventListener("input", function() {
      validateInput2(this);
    });

    document.getElementById("device-form-bar2").addEventListener("submit", function(event) {
      submitForm2(event);
    });
  });
</script>


<!-- decides what form type is being submitted-->
<script>
  var activeBar = "";

  function setActiveBar(bar) {
    activeBar = bar;
  }

  function checkActiveBar() {
    const modalReturn = document.querySelector('.modal-return');
    const bars = modalReturn.querySelectorAll('.bar');

    var isOpenBar = false;
    bars.forEach((bar, index) => {
      if (bar.classList.contains('open')) {
        isOpenBar = true;
      }
    });

    if (!isOpenBar) {
      activeBar = ""; // Set active bar to blank
      disableConfirmButton(); // Disable the confirm button
    }
  }

  function checkCheckboxes() {
    const modalReturn = document.querySelector('.modal-return');
    const activeBarElement = modalReturn.querySelector(`.${activeBar}`);
    const checkboxes = activeBarElement.querySelectorAll('input[type="checkbox"]');
    const confirmButton = document.getElementById("confirm-button");

    var isCheckboxSelected = false;
    checkboxes.forEach((checkbox) => {
      if (checkbox.checked) {
        isCheckboxSelected = true;
      }
    });

    if (!isCheckboxSelected) {
      disableConfirmButton(); // Disable the confirm button if no checkboxes are selected
    } else {
      enableConfirmButton(); // Enable the confirm button if at least one checkbox is selected
    }
  }

  function disableConfirmButton() {
    const confirmButton = document.getElementById("confirm-button");
    confirmButton.disabled = true;
  }

  function enableConfirmButton() {
    const confirmButton = document.getElementById("confirm-button");
    confirmButton.disabled = false;
  }

  function submitActiveForm() {
  if (activeBar) {
    var form = document.getElementById(`content-${activeBar}-form`);
    if (form) {
      form.action = "/download-logs/";
      form.method = "POST";
      // Add a hidden input field for form_type
      var formTypeInput = document.createElement("input");
      formTypeInput.type = "hidden";
      formTypeInput.name = "form_type";
      formTypeInput.value = activeBar;
      form.appendChild(formTypeInput);
      
      // Add data_format input value if available
      var dataFormatInput = document.getElementById("format-picker-other-optns");
      if (dataFormatInput.value) {
        var dataFormatField = document.createElement("input");
        dataFormatField.type = "hidden";
        dataFormatField.name = "data_format";
        dataFormatField.value = dataFormatInput.value;
        form.appendChild(dataFormatField);
      }
      
      // Add custom_filename input value if available
      var customFilenameInput = document.getElementById("set-filename");
      if (customFilenameInput.value) {
        var customFilenameField = document.createElement("input");
        customFilenameField.type = "hidden";
        customFilenameField.name = "custom_filename";
        customFilenameField.value = customFilenameInput.value;
        form.appendChild(customFilenameField);
      }
      
      form.submit();
    } else {
      var errorMessage = document.getElementById("error-message");
      errorMessage.textContent = "No form found.";
    }
  } else {
    var errorMessage = document.getElementById("error-message");
    errorMessage.textContent = "No active bar selected.";
  }
}



  function toggleBar(barNumber) {
    const modalReturn = document.querySelector('.modal-return');
    const bars = modalReturn.querySelectorAll('.bar');
    const contentBars = modalReturn.querySelectorAll('.content');

    bars.forEach((bar, index) => {
      const header = bar.querySelector('.header');
      const content = bar.querySelector('.content');
      const arrow = bar.querySelector('.arrow');

      if (index + 1 === barNumber) {
        // Toggle the clicked bar
        if (bar.classList.contains('open')) {
          // Close the bar
          bar.classList.remove('open');
          content.style.display = 'none';
          arrow.style.transform = 'rotate(0deg)';
          modalReturn.classList.remove(`bar${barNumber}`);
        } else {
          // Open the bar
          bar.classList.add('open');
          content.style.display = 'block';
          arrow.style.transform = 'rotate(180deg)';
          expandBar(barNumber);

          modalReturn.classList.remove('bar1', 'bar2', 'bar3'); // removed bar-specific classes
          modalReturn.classList.add(`bar${barNumber}`); // class based on the opened bar
        }
      } else {
        // Close other bars
        bar.classList.remove('open');
        content.style.display = 'none';
        arrow.style.transform = 'rotate(0deg)';
      }
    });

    checkActiveBar(); // Check if any bar is active
    checkCheckboxes(); // Check if any checkboxes are selected
  }

  function expandBar(barNumber) {
    setActiveBar(`bar${barNumber}`);
    const modalReturn = document.querySelector('.modal-return');
    const bars = modalReturn.querySelectorAll('.bar');

    bars.forEach((bar, index) => {
      if (index !== barNumber - 1) {
        bar.style.animation = 'slideDown 0.7s, slideDownPosition 0.7s ';
      }
    });

    setTimeout(() => {
      bars.forEach((bar, index) => {
        if (index !== barNumber - 1) {
          bar.style.opacity = '1';
          bar.style.transform = 'translateY(0)';
        }
      });
    }, 500);
  }

  function resetBars() {
    const modalReturn = document.querySelector('.modal-return');
    const bars = modalReturn.querySelectorAll('.bar');

    bars.forEach((bar) => {
      bar.style.animation = 'slideDown 5s ease, slideDownPosition 5s ease';
      bar.style.display = 'block';
    });

    checkActiveBar(); // Check if any bar is active
    checkCheckboxes(); // Check if any checkboxes are selected
  }

  var confirmButton = document.getElementById("confirm-button");
confirmButton.addEventListener("click", function () {
  submitActiveForm();
});

</script>






<style>
  .main_title {
  position: relative;
  top: -370px;
  right: -50px;
  z-index: 2;
  }
 .openbtn {
 background-color: #f1f1f1;
 color: black;
 cursor: pointer;
 padding: 10px 15px;
 border: none;
 border-radius: 5px;
 font-size: 30px;
 position:relative;
 top: -50px;
 cursor: pointer;
 left: -7px;
 }
 </style>
 <script>
     function validateInput(input) {
       input.value = input.value.replace(/[^0-9]/g, ''); // Remove non-digit characters
       input.value = input.value.slice(0, 4); // Limit to 4 digits
       if (input.value < 0) {
         input.value = ''; // Clear negative values
       }
     }
   </script>
 <script>
  function filterTable() {
   let datepicker = document.getElementById("datepicker");
   let date = datepicker.value;
   let [year, month, day] = date.split("-");
   let formattedDate = `${day}-${month}`;
 
   let url = `/rental-logs/${formattedDate}`;
   window.location.href = url;
 }
 </script>
 <script>
   $(document).ready(function() {
   $('#devices-table').DataTable({
     paging: true,
     pageLength: 20, // Number of rows per page
     lengthMenu: [10, 20, 50, 100], // Options for rows per page dropdown
     searching: true, // Enable search functionality
     ordering: true, // Enable column sorting
     info: true, // Show information about current page and total entries
     language: {
       paginate: {
         first: 'First',
         last: 'Last',
         next: '&raquo;',
         previous: '&laquo;'
       },
       info: 'Showing _START_ to _END_ of _TOTAL_ entries'
     }
   });
 });
 </script>