<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css"></style>
        <meta name="author" content="LG17057">
        <meta name="description" content="A website framework designed for scholarship, with the aim to provide a device logbook for students using rental devices">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="DeviceLog">
        <link rel="stylesheet" type="text/css" href="static/stylesheet_main.css">
        <link rel="icon" type="image" href="/data/favicon-16x16.png">
    </head>
    <body>
        <h1> Index Page
        </h1>
    </body>
</html>
