<!DOCTYPE html> 
  <html lang="en-US">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <head>
        <meta charset="utf-8">
        <style type="text/css" ></style>
        <meta name="author" content="LG17057">
        <meta name="description" content="A website framework designed for scholarship, with the aim to provide a device logbook for students using rental devices">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="DeviceLog">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/side_nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/date_picker.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
        <script src="{{ url_for('static', filename='js/open_nav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/date_pickerjs') }}"></script>



      </head>
      <div class="topheader">
        <div style="width:100%;height:80px;border:none; z-index:-2; background-color: #114e91; position: absolute; top:0px; left:0;"></div>
        <br><br><br>
        <a title="Home Page" style="cursor: pointer;"onclick="window.location.href='/'"><img style="position:relative; top:-65px;" class="img1" title="Home Page" src="{{ url_for('static', filename='shc-logo.svg') }}" z-index="-1" width="300px" height="65px" alt="sacred heart logo"></a>
        {% if loginstatus %}
          <span id="admin-span" onclick="window.location.href='/admin'"  title="Admin Options" class="fa fa-user-circle-o" style="font-size:36px;cursor:pointer;float: right;"></span>
        {% else %}
          <a onclick="window.location.href='/login-page'"  class="button" id="login-btn">Sign In</a>
        {% endif %}
      </div>
      <button class="openbtn" title="Open Nav" onclick="toggleNav()">☰ </button>
      
      <div class="sidebar" id="mySidebar">
        <button class="closebtn" title="Close Nav" onclick="toggleNav()">×</button>
        <h3 class="sidenavheader">Options</h3>
        <div class=side-panel1>
          <hr>
          <button class="accordion" title="Rental Logs Options" onclick="togglePanel(this)">Rental Logs</button>
          <div class="panel">
            <a onclick="window.location.href='/new-log'">New Rental</a>
            <a onclick="window.location.href='/sign-off'">Sign Off Rental</a>
            <a onclick="window.location.href='/rental-logs'">View Rental Logs</a>
          </div>
        </div>
        <div class=side-panel2>
          <hr>
          <button class="accordion" title="Devices Options" onclick="togglePanel(this)">Devices</button>
          <div class="panel">          
            <a onclick="window.location.href='/new-item'">New Device</a>
            <a onclick="window.location.href='/circulations'">Circulating Devices</a>
            <a onclick="window.location.href='/modify-device'">Modify Current Device</a>
            <a onclick="window.location.href='/device-logs'">View Current Devices</a>
          </div>
        </div>
        <div class=side-panel3>
          <hr>
          <button class="accordion"  title="Statistics Options" onclick="togglePanel(this)">Data</button>
          <div class="panel">
            <a onclick="window.location.href='/general-data'">Statistics</a>
            <a onclick="window.location.href='/student-data'">Student Data</a>
            <a onclick="window.location.href='/homeroom-data'">Homeroom Data</a>
          </div>
        </div>
        <div class=side-panel4>
          <hr>
          <button class="accordion" title="Admin Options" onclick="togglePanel(this)">Admins</button>
          <div class="panel">
            <a onclick="window.location.href='/admin'">Admin Page</a>
            <a onclick="window.location.href='/dev-admin'">Dev Page</a>
          </div>
          <div class="help">
            <a onclick="window.location.href='/help'" title="help">Help</a>
          </div>
        </div>  
      </div>
</html>
    <body>
      <title>Index Page</title>
        <h1 class="main_title">{{message}}</h1>
        <div class="primary-container">
          <div class="card" id="checkout-card">
            <div class="header" id="checkout-header">
              <h2 class="title" id="checkout-title">Checkouts</h2>
            </div>
            <div class="content">
              <div class="table-container-checkout">
                <table class="devices" id="checkouts-table">
                  <thead>
                    <th>Date Borrowed</th>
                    <th>Device Type</th>
                    <th>Device ID</th>
                    <th>Student Name</th>
                    <th>Homeroom</th>
                    <th>Period Borrowed</th>
                  </thead>
                  <tbody>
                    {% for row in row1 %}
                    <tr>
                      <td>{{ row[0] }}</td>
                      <td>{{ row[1] }}</td>
                      <td>{{ row[2] }}</td>
                      <td>{{ row[3] }}</td>
                      <td>{{ row[4] }}</td>
                      <td>{{ row[5] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
          <div class="card" id="overdue-card">
            <div class="header" id="overdue-header">
              <h2 class="title" id="overdue-title">Overdues</h2>
            </div>
            <div class="content">
              <div class="table-container">
                <table class="devices" id="overdue-table">
                  <thead>
                    <th>Date Borrowed</th>
                    <th>Device Type</th>
                    <th>Device ID</th>
                    <th>Student Name</th>
                    <th>Homeroom</th>
                    <th>Period Borrowed</th>
                  </thead>
                  <tbody>
                    {% for row in rows %}
                    <tr>
                      <td>{{ row[0] }}</td>
                      <td>{{ row[1] }}</td>
                      <td>{{ row[2] }}</td>
                      <td>{{ row[3] }}</td>
                      <td>{{ row[4] }}</td>
                      <td>{{ row[5] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div> 
          <div  id="data-card">
            <div id="data-header">
              <h2 id="data-title">Rental Data Today</h2>
            </div>
            <div class="content">
              <div class="data-row" id="row1">
                <h2 class="datacard-header" id="row1-header">Total Rentals Today:</h2>
                <h2 class="datacard-header" id="row1-descriptor">{{row1_descriptor}}</h2>
              </div>
              <div class="data-row" id="row2">
                <h2 class="datacard-header" id="row2-header">Devices Returned:</h2>
                <h2 class="datacard-header" id="row2-descriptor">{{row2_descriptor}}</h2>
              </div>
              <div class="data-row" id="row3">
                <h2 class="datacard-header" id="row3-header">Devices Confirmed:</h2>
                <h2 class="datacard-header" id="row3-descriptor">{{row3_descriptor}}</h2>
              </div>
            </div>
          </div> 
        </div>
    </body>
</html>

<script>
  $(document).ready(function() {
  $('#overdue-table').DataTable({
    paging: false,
    pageLength: 20, // num of rows / page
    lengthMenu: [10, 20, 50, 100], 
    searching: true, 
    ordering: true, 
    info: false, 
    language: {
      paginate: {
        first: 'First',
        last: 'Last',
        next: '&raquo;',
        previous: '&laquo;'
      },
      info: 'Showing _START_ to _END_ of _TOTAL_ entries'
    }
  });
});
</script>
<script>
  $(document).ready(function() {
  $('#checkouts-table').DataTable({
    paging: false,
    pageLength: 20, // num of rows / page
    lengthMenu: [10, 20, 50, 100], 
    searching: true, 
    ordering: true, 
    info: false, 
    language: {
      paginate: {
        first: 'First',
        last: 'Last',
        next: '&raquo;',
        previous: '&laquo;'
      },
      info: 'Showing _START_ to _END_ of _TOTAL_ entries'
    }
  });
});
</script>