<!DOCTYPE html> 
  <html lang="en-US">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
      <head>
        <meta charset="utf-8">
        <style type="text/css" ></style>
        <meta name="author" content="LG17057">
        <meta name="description" content="A website framework designed for scholarship, with the aim to provide a device logbook for students using rental devices">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="DeviceLog">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/side_nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/date_picker.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
        <script src="{{ url_for('static', filename='js/open_nav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/date_pickerjs') }}"></script>
<body>
  <title>Login Page</title>
    <div class="primary-container">
      <div class="login-container">
        <div class="login-div">
          <a title="Home Page" style="cursor: pointer;"onclick="window.location.href='/'"><img class="login-logo-shc"  src="{{ url_for('static', filename='shc-log1.svg') }}"  width="325px" height="72px" alt="sacred heart logo"></a>
          <p id="sign-in">SIGN IN</p>
          <p id="account-type">Please choose your account type</p>
            <button class="account-type-item1 button1">
              <img class="student-tag-shc"   src="{{ url_for('static', filename='student-tag.svg') }}" height="50px" width="50px" alt="sacred heart staff tag">
              <p id="student-tag">Student</p>
            </button>
            <button class="account-type-item2 button2">
              <img class="staff-tag-shc"  src="{{ url_for('static', filename='staff-tag.svg') }}" height="50px" width="50px"  alt="sacred heart student tag">
              <p id="school-tag">School Staff</p>
            </button>   
        </div>
      <div class="student-login-div">
        <h1>Placeholder Title 1</h1>
        <p>This is the content of the first hidden div.</p>
        <button class="button-back">Back</button>
      </div>
      <div class="staff-login-div">
        <img class="staff-tag-secondary"  src="{{ url_for('static', filename='staff-tag1.svg') }}" height="40px" width="50px" alt="sacred heart staff tag">
          <p id="staff-sign-in">SIGN IN</p>
          <p id="sign-in-message">Please use your school-registered email to sign in.</p>
          <form  action="/login-page" method="POST" onsubmit="return validateForm();">
            <br>
            <label id="username-label" for="teacher_name">Name/Email:</label>
            <input required type="text" id="teacher_name" pattern="^[a-zA-Z0-9._%+-]+@(sacredheart.school.nz)|([a-zA-Z0-9]+)$" name="teacher_name"><br><br>
            <label id="password-label" for="password">Password:</label>
            <input required  type="password" id="password" name="password"><br><br>
            <input type="submit" value="Login">
            <div class="g-signin2" data-width="175" data-height="41" border-radius="5" data-longtitle="true"> 
          </form>
          <button class="button-back">Change Account Type</button>
      </div>
    </div>
</body>
<script>
const loginForm = document.querySelector('#login-form');
const usernameInput = document.querySelector('#username');
const emailInput = document.querySelector('#email');
const passwordInput = document.querySelector('#password');

const usernameWarning = document.querySelector('#username ~ .input-warning');
const emailWarning = document.querySelector('#email ~ .input-warning');
const passwordWarning = document.querySelector('#password ~ .input-warning');

function showWarning(warning) {
    warning.classList.add('show');
}

function hideWarning(warning) {
    warning.classList.remove('show');
}

function validateInput(input, pattern, warning) {
    if (!input.value.match(pattern)) {
        showWarning(warning);
        return false;
    } else {
        hideWarning(warning);
        return true;
    }
}

function validateForm(event) {
    let isValid = true;

    isValid = validateInput(usernameInput, /^[a-zA-Z0-9]+$/, usernameWarning) && isValid;
    isValid = validateInput(emailInput, /^[a-z0-9._%+-]+@sacredheart\.school\.nz$/, emailWarning) && isValid;
    isValid = validateInput(passwordInput, /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}/, passwordWarning) && isValid;

    if (!isValid) {
        event.preventDefault();
    }
}

loginForm.addEventListener('submit', validateForm);

</script>
<script>// Get the login buttons
  var loginDiv = document.querySelector('.login-div')
  var studentBtn = document.querySelector('.account-type-item1');
  var staffBtn = document.querySelector('.account-type-item2');
  
  // Get the student and staff login divs
  var studentLoginDiv = document.querySelector('.student-login-div');
  var staffLoginDiv = document.querySelector('.staff-login-div');
  
  // Get the "Back" buttons
  var studentBackBtn = document.querySelector('.student-login-div .button-back');
  var staffBackBtn = document.querySelector('.staff-login-div .button-back');
  
  // Show the student login div when the student button is clicked
  studentBtn.addEventListener('click', function() {
    studentLoginDiv.style.display = 'flex';
    loginDiv.style.display = 'none';
    staffLoginDiv.style.display = 'none';
  });
  
  // Show the staff login div when the staff button is clicked
  staffBtn.addEventListener('click', function() {
    staffLoginDiv.style.display = 'flex';
    loginDiv.style.display = 'none';
    studentLoginDiv.style.display = 'none';

  });
  
  // Hide the student login div when the "Back" button is clicked
  studentBackBtn.addEventListener('click', function() {
    studentLoginDiv.style.display = 'none';
    loginDiv.style.display = 'flex';
  });
  
  // Hide the staff login div when the "Back" button is clicked
  staffBackBtn.addEventListener('click', function() {
    staffLoginDiv.style.display = 'none';
    loginDiv.style.display = 'flex';

  });
  
</script>
<script>
  function onSuccess(googleUser) {
    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
  }
  function onFailure(error) {
    console.log(error);
  }
  function renderButton() {
    gapi.signin2.render('my-signin2', {
      'scope': 'profile email',
      'width': 240,
      'height': 50,
      'longtitle': true,
      'theme': 'dark',
      'onsuccess': onSuccess,
      'onfailure': onFailure
    });
  }
</script>


