<!---->

<!DOCTYPE html> 
  <html lang="en-US">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <head>
        <meta charset="utf-8">
        <style type="text/css" ></style>
        <meta name="author" content="LG17057">
        <meta name="description" content="A website framework designed for scholarship, with the aim to provide a device logbook for students using rental devices">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="DeviceLog">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/side_nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/date_picker.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/new_log.css') }}">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
        <script src="{{ url_for('static', filename='js/open_nav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/date_pickerjs') }}"></script>
      </head>
      <div class="topheader">
        <div style="width:100%;height:80px;border:none; z-index:-2; background-color: #114e91; position: absolute; top:0px; left:0;"></div>
        <br><br><br>
        <a title="Home Page" style="cursor: pointer;"onclick="window.location.href='/'"><img style="position:relative; top:-65px;" class="img1" title="Home Page" src="{{ url_for('static', filename='shc-logo.svg') }}" z-index="-1" width="300px" height="65px" alt="sacred heart logo"></a>
        {% if loginstatus %}
          <span id="admin-span" onclick="window.location.href='/admin'"  title="Admin Options" class="fa fa-user-circle-o" style="font-size:36px;cursor:pointer;float: right;"></span>
        {% else %}
          <a onclick="window.location.href='/login-page'"  class="button" id="login-btn">Sign In</a>
        {% endif %}
      </div>
      <button class="openbtn" title="Open Nav" onclick="toggleNav()">☰ </button>
      
      <div class="sidebar" id="mySidebar">
        <button class="closebtn" title="Close Nav" onclick="toggleNav()">×</button>
        <h3 class="sidenavheader">Options</h3>
        <div class=side-panel1>
          <hr>
          <button class="accordion" title="Rental Logs Options" onclick="togglePanel(this)">Rental Logs</button>
          <div class="panel">
            <a onclick="window.location.href='/new-log'">New Rental</a>
            <a onclick="window.location.href='/sign-off'">Sign Off Rental</a>
            <a onclick="window.location.href='/overdues'">Overdue Rentals</a>
            <a onclick="window.location.href='/rental-logs'">View Rental Logs</a>
          </div>
        </div>
        <div class=side-panel2>
          <hr>
          <button class="accordion" title="Devices Options" onclick="togglePanel(this)">Devices</button>
          <div class="panel">          
            <a onclick="window.location.href='/new-item'">New Device</a>
            <a onclick="window.location.href='/circulations'">Circulating Devices</a>
            <a onclick="window.location.href='/modify-device'">Modify Current Device</a>
            <a onclick="window.location.href='/device-logs'">View Current Devices</a>
          </div>
        </div>
        <div class=side-panel3>
          <hr>
          <button class="accordion"  title="Statistics Options" onclick="togglePanel(this)">Data</button>
          <div class="panel">
            <a onclick="window.location.href='/student-data'">Student Data</a>
            <a onclick="window.location.href='/download-logs'">Rental Data</a>
          </div>
        </div>
        <div class=side-panel4>
          <hr>
          <button class="accordion" title="Admin Options" onclick="togglePanel(this)">Admins</button>
          <div class="panel">
            <a onclick="window.location.href='/admin'">Admin Page</a>
            <a onclick="window.location.href='/login-page'">Login Page</a>
            <a onclick="window.location.href='/dev-admin'">Dev Page</a>
          </div>
          <div class="help">
            <a onclick="window.location.href='/help'" title="help">Help</a>
          </div>
        </div>  
      </div>
</html>
<title>New Log</title>  
<h1 class="main_title">Device Submission Form</h1>

<div class="primary-container">
  <div class="button-container">
    <button class="button" id="left-button" title="Rent a Device">Rent Device</button>
    <button class="button" id="right-button" title="Return a Device">Return Device</button>
  </div>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
  <div class="modal-container" id="modal-container-left">
    <div class="modal" id="modal-left">
      <div class="modal-header">
        <h1 id="modal-title-left">Rent Device</h1>
        <button class="modal-close" title="Close Modal" id="close-button-left">×</button>
      </div>
      <div class="modal-content">
        <div class="newlog-container-scan">
          <form id="form-id" method="POST" action="/new-log">
            <input type="hidden" name="form_type" value="rent_scan">

            <div id="barcode-input-container">
              <label for="barcode_input">Scan Device</label><br>
              <input required type="text" id="barcode_input" name="barcode_input" placeholder="Scan Barcode" class="input-field" pattern="(iPad|Chromebook|Laptop)-\d{4}" title="Please enter the barcode in the format 'DeviceType-XXXX-xxxxxxxx'">
              <button type="button" id="clear-button-rent">Scan</button>
            </div>

            <div id="student-data-input-container">
              <label for="student-data-input">Scan ID Card</label><br>
              <input required type="text" id="student-data-input" placeholder="Scan ID" name="id_input" class="input-field" readonly>
              <button type="button" id="clear-button-student-rent">Scan</button>
            </div>

            <div id="homeroom-div-rent-scan">
              <label for="student_name">Homeroom:</label><br>
              <input required type="text" class="input-field" id="homeroom-input" name="homeroom" placeholder="Homeroom" required>
              <br>
            </div>

            <div id="reason_borrowed-div-rental-scan">
              <label for="reason_borrowed">Reason Borrowed:</label><br>
		          <input required type="text" id="reason_borrowed" name="reason_borrowed" placeholder="Reason..." class="input-field"><br>
              <br>
            </div>

            <div id="period_borrowed-div-rental-scan">
              <label for="period_borrowed">Period Borrowed:</label><br>
              <div class="select-container1-scan">
		            <select required id="period_borrowed-scan" name="period_borrowed">
                  <option selected value="Homeroom">Homeroom</option>
		            	<option value="1">1</option>
		            	<option value="2">2</option>
		            	<option value="3">3</option>
		            	<option value="4">4</option>
		            	<option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div>
            </div>
            <button id="confirm-button-left"  value="Confirm" form="form-id" type="submit">Confirm</button>
          </form>
          <button id="not-working-rent">Not Working?</button>
        </div>
      </div>
    </div>
  </div>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
  <div class="modal-container" id="modal-container-right">
    <div class="modal" id="modal-right">
      <div class="modal-header">
        <h1 id="modal-title-right">Return Device</h1>
        <button class="modal-close" title="Close Modal" id="close-button-right">×</button>
      </div>
      <div class="modal-content">
        <div id="form-content-manual">
          <!--THis is the form used to return a device-->
          <form method="POST" action="/new-log">
            <input type="hidden" name="form_type" value="return">
  
            <!-- Form fields -->
            <div id="barcode-input-container">
              <label for="barcode_input">Scan Device</label><br>
              <input required type="text" id="barcode_input" name="barcode_input" placeholder="Scan Barcode" class="input-field" pattern="(iPad|Chromebook|Laptop)-\d{4}" title="Please enter the barcode in the format 'DeviceType-XXXX-xxxxxxxx'">
              <button type="button" id="clear-button-rent">Scan</button>
            </div>

            <div id="student-data-input-container">
              <label for="student-data-input">Scan ID Card</label><br>
              <input required type="text" id="student-data-input" placeholder="Scan ID" name="id_input" class="input-field" readonly>
              <button type="button" id="clear-button-student-rent">Scan</button>
            </div>
            <br>
            <div id="homeroom-div-rent-scan">
              <label for="student_name">Homeroom:</label><br>
              <input  type="text" class="input-field" id="homeroom" name="homeroom" placeholder="Homeroom" required>
              <br>
            </div>
            
            
            <div id="period_returned-div-rental-scan">
              <label for="period_returned">Period Returned:</label><br>
              <div class="select-container1">
                <select id="period_returned" name="period_returned">
                  <option selected value="Homeroom">Homeroom</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div>
            </div>
            <input type="submit" class="button" id="confirm-button-right" value="Confirm" title="Confirm Selection">
          </form>
          <button id="not-working-return">Not Working?</button>
      </div>
    </div>
  </div>
  </div>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
  <div class="modal-container" id="modal-container-confirm">
    <div class="modal" id="modal-confirm">
      <div class="modal-header">
        <h1 id="modal-title-confirm">Entering Data Manually</h1>
        <button class="modal-close" title="Close Modal" id="close-button-confirm">×</button>
      </div>
      <div class="modal-content">
        <div id="form-content">
          <!--This is the form used to rent a device-->
          <form method="POST" action="/new-log">
            <input type="hidden" name="form_type" value="rent">

            <!-- Form fields -->
            <label for="student_name">Full Name:</label><br>
            <input type="text" class="input-field" id="student_name" name="student_name" placeholder="Full Name" required>
            <br>
            <div id="student-id-div-rent">
              <label for="student_name">Student ID:</label><br>
              <input type="number" class="input-field" id="student_id" name="student_id" placeholder="Student ID" required  oninput="validateID(this)"  >
            </div>
            <br>
            <div id="homeroom-div-rent">
              <label for="student_name">Homeroom:</label><br>
              <input  type="text" class="input-field" id="homeroom" name="homeroom" placeholder="Homeroom" required>
              <br>
            </div>
            <label for="device_id" id="labeldeviceid">Device Data:</label><br>
            <div class="select-container">
              <select id="device_type" name="device_type" required>
                <option selected value="">Device Type:</option>
                <option value="iPad">iPad</option>
                <option value="Laptop">Laptop</option>
                <option value="Chromebook">Chromebook</option>
              </select>
            </div>
		        <input  required type="number"  oninput="validateInput(this)"   id="device_id" class="input-field" name="device_id" placeholder="Device ID">
            <br>
            <div id="reason_borrowed-div-rental">
              <label for="reason_borrowed">Reason Borrowed:</label><br>
		          <input type="text" id="reason_borrowed" name="reason_borrowed" placeholder="Reason..." class="input-field"><br>
              <br>
            </div>
            <div id="period_borrowed-div-rental">
              <label for="period_borrowed">Period Borrowed:</label><br>
              <div class="select-container1">
		            <select id="period_borrowed" name="period_borrowed">
                  <option selected value="Homeroom">Homeroom</option>
		            	<option value="1">1</option>
		            	<option value="2">2</option>
		            	<option value="3">3</option>
		            	<option value="4">4</option>
		            	<option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div>
            </div>
            <input type="submit" class="button" id="confirm-button-left2" value="Confirm" title="Confirm Selection">
          </form>
        </div>
      </div>
    </div>
  </div>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
  <div class="modal-container" id="modal-container-return">
    <div class="modal" id="modal-return">
      <div class="modal-header">
        <h1 id="modal-title-return">Entering Data Manually</h1>
        <button class="modal-close" title="Close Modal" id="close-button-return">×</button>
      </div>
      <div id="form-content">
        <!--THis is the form used to return a device-->
        <form method="POST" action="/new-log">
          <input type="hidden" name="form_type" value="return">

          <!-- Form fields -->
          <label for="student_name">Full Name:</label><br>
          <input type="text" class="input-field" id="student_name" name="student_name" placeholder="Full Name" required>
          <br>
          <div id="student-id-div-rent">
            <label for="student_name">Student ID:</label><br>
            <input type="number" class="input-field" id="student_id" name="student_id" placeholder="Student ID" required  oninput="validateID(this)"  >
          </div>
          <br>
          <div id="homeroom-div-rent">
            <label for="student_name">Homeroom:</label><br>
            <input  type="text" class="input-field" id="homeroom" name="homeroom" placeholder="Homeroom" required>
            <br>
          </div>
          <label for="device_id" id="labeldeviceid">Device Data:</label><br>
          <div class="select-container">
            <select id="device_type" name="device_type" required>
              <option selected value="">Device Type:</option>
              <option value="iPad">iPad</option>
              <option value="Laptop">Laptop</option>
              <option value="Chromebook">Chromebook</option>
            </select>
          </div>
          <input  required type="number"  oninput="validateInput(this)"   id="device_id" class="input-field" name="device_id" placeholder="Device ID">
          <br>
          
          <div id="period_returned-div-rental">
            <label for="period_returned">Period Returned:</label><br>
            <div class="select-container1">
              <select id="period_returned" name="period_returned">
                <option selected value="Homeroom">Homeroom</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </div>
          </div>
          <input type="submit" class="button" id="confirm-button-right2" value="Confirm" title="Confirm Selection">
        </form>
      </div>
    </div>
  </div>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>


</div>
<style>
  .primary-container {
    position: relative;
    top: -120px;
  }

  #homeroom-div-rent-scan {
  position: relative;
  top: -10px;
}

#homeroom-div-rent-scan {
  position: relative;
  top: 10px;
}

</style>
<script>
const leftButton = document.getElementById("left-button");
const rightButton = document.getElementById("right-button");
const modalContainerLeft = document.getElementById("modal-container-left");
const modalLeft = document.getElementById("modal-left");
const closeButtonLeft = document.getElementById("close-button-left");
const modalContainerRight = document.getElementById("modal-container-right");
const modalRight = document.getElementById("modal-right");
const closeButtonRight = document.getElementById("close-button-right");
const notWorkingRentButton = document.getElementById("not-working-rent");
const notWorkingReturnButton = document.getElementById("not-working-return");
const modalContainerConfirm = document.getElementById("modal-container-confirm");
const modalConfirm = document.getElementById("modal-confirm");
const closeButtonConfirm = document.getElementById("close-button-confirm");
const modalContainerReturn = document.getElementById("modal-container-return");
const modalReturn = document.getElementById("modal-return");
const closeButtonReturn = document.getElementById("close-button-return");

leftButton.addEventListener("click", () => {
  modalContainerLeft.style.display = "block";
});

rightButton.addEventListener("click", () => {
  modalContainerRight.style.display = "block";
});

notWorkingRentButton.addEventListener("click", () => {
  modalContainerConfirm.style.display = "block";
});

notWorkingReturnButton.addEventListener("click", () => {
  modalContainerReturn.style.display = "block";
});

closeButtonLeft.addEventListener("click", () => {
  modalContainerLeft.style.display = "none";
});

closeButtonRight.addEventListener("click", () => {
  modalContainerRight.style.display = "none";
});

closeButtonConfirm.addEventListener("click", () => {
  modalContainerConfirm.style.display = "none";
});

closeButtonReturn.addEventListener("click", () => {
  modalContainerReturn.style.display = "none";
});

window.addEventListener("click", (event) => {
  if (event.target === modalContainerLeft) {
    modalContainerLeft.style.display = "none";
  }
  if (event.target === modalContainerRight) {
    modalContainerRight.style.display = "none";
  }
  if (event.target === modalContainerConfirm) {
    modalContainerConfirm.style.display = "none";
  }
  if (event.target === modalContainerReturn) {
    modalContainerReturn.style.display = "none";
  }
});


</script>  
<script>
  function validateInput(input) {
    input.value = input.value.replace(/[^0-9]/g, ''); // Remove non-digit characters
    input.value = input.value.slice(0, 4); // Limit to 4 digits
    if (input.value < 0) {
      input.value = ''; // Clear negative values
    }
  }
</script>
<script>
  function validateID(input) {
    input.value = input.value.replace(/[^0-9]/g, ''); // Remove non-digit characters
    input.value = input.value.slice(0, 5); // Limit to 4 digits
    if (input.value < 0) {
      input.value = ''; // Clear negative values
    }
  }
</script>
<script>
const barcodeInput = document.getElementById('barcode_input');
const clearButtonRent = document.getElementById('clear-button-rent');
const studentInput = document.getElementById('student-data-input');
const clearButtonStudentRent = document.getElementById('clear-button-student-rent');
const confirmButton = document.getElementById('confirm-button-left');

clearButtonRent.addEventListener('click', function() {
  if (clearButtonRent.textContent === 'Scan') {
    if (clearButtonStudentRent.textContent === 'Clear') {
      clearButtonStudentRent.textContent = 'Scan';
      studentInput.readOnly = true;
      studentInput.blur();
    }

    clearButtonRent.textContent = 'Clear';
    barcodeInput.readOnly = false;
    barcodeInput.focus();
    barcodeInput.select();
  } else {
    clearButtonRent.textContent = 'Scan';
    barcodeInput.value = '';
    barcodeInput.readOnly = true;
    barcodeInput.blur();
  }
});

barcodeInput.addEventListener('input', function() {
  if (barcodeInput.value.length > 0) {
    confirmButton.disabled = false;
  } else {
    confirmButton.disabled = true;
  }
});

clearButtonStudentRent.addEventListener('click', function() {
  if (clearButtonStudentRent.textContent === 'Scan') {
    if (clearButtonRent.textContent === 'Clear') {
      clearButtonRent.textContent = 'Scan';
      barcodeInput.readOnly = true;
      barcodeInput.blur();
    }

    clearButtonStudentRent.textContent = 'Clear';
    studentInput.readOnly = false;
    studentInput.focus();
    studentInput.select();
  } else {
    clearButtonStudentRent.textContent = 'Scan';
    studentInput.value = '';
    studentInput.readOnly = true;
    studentInput.blur();
  }
});

studentInput.addEventListener('input', function() {
  if (studentInput.value.length > 0) {
    confirmButton.disabled = false;
  } else {
    confirmButton.disabled = true;
  }
});


</script>




