<div class="sidebar" id="mySidebar">
  <button class="closebtn" title="Close Nav" onclick="toggleNav()">×</button>
  <h3 class="sidenavheader">Options</h3>
  <div class=side-panel1>
    <hr>
    <button class="accordion" title="Rental Logs Options" onclick="togglePanel(this)">Rental Logs</button>
    <div class="panel">
      <a onclick="window.location.href='/new-log'">New Rental</a>
      <a onclick="window.location.href='/sign-off'">Sign Off Rental</a>
      <a onclick="window.location.href='/rental-logs'">View Rental Logs</a>
    </div>
  </div>
  <div class=side-panel2>
    <hr>
    <button class="accordion" title="Devices Options" onclick="togglePanel(this)">Devices</button>
    <div class="panel">          
      <a onclick="window.location.href='/new-item'">New Device</a>
      <a onclick="window.location.href='/circulations'">Circulating Devices</a>
      <a onclick="window.location.href='/modify-device'">Modify Current Device</a>
      <a onclick="window.location.href='/device-logs'">View Current Devices</a>
    </div>
  </div>
  <div class=side-panel3>
    <hr>
    <button class="accordion"  title="Statistics Options" onclick="togglePanel(this)">Data</button>
    <div class="panel">
      <a onclick="window.location.href='/student-data'">Student Data</a>
      <a onclick="window.location.href='/download-logs'">Rental Data</a>
    </div>
  </div>
  <div class=side-panel4>
    <hr>
    <button class="accordion" title="Admin Options" onclick="togglePanel(this)">Admins</button>
    <div class="panel">
      <a onclick="window.location.href='/admin'">Admin Page</a>
      <a onclick="window.location.href='/login-page'">Login Page</a>
      <a onclick="window.location.href='/dev-admin'">Dev Page</a>
    </div>
    <div class="help">
      <a onclick="window.location.href='/help'" title="help">Help</a>
    </div>
  </div>  
</div>
</html>
<body>
  <title>New Device</title>
  <div class="new-device-container">
    <h1 class="newdevice-title">Create New Device</h1>
    <form style="position: relative;top:20px" method="POST" action="/new-item">
		  <label for="device_id">Device ID:</label>
		  <input  required type="number"  oninput="validateInput(this)"   id="device_id" name="device_id">
      <br>
      <div class="select-container">
		    <select id="device_type" name="device_type" required>
          <option selected value="">Device Type:</option>
          <option value="iPad">iPad</option>
          <option value="Laptop">Laptop</option>
          <option value="Chromebook">Chromebook</option>
        </select>
      </div>
      <br>
      <br>
      <label for="notes">Notes:</label>
      <input  type="text" id="notes" name="notes" >
      <br>
		  <input id="newdevice-submit" type="submit" value="Submit">
	  </form>
  </div>
</body>

<script>
  function validateInput(input) {
    input.value = input.value.replace(/[^0-9]/g, ''); // Remove non-digit characters
    input.value = input.value.slice(0, 4); // Limit to 4 digits
    if (input.value < 0) {
      input.value = ''; // Clear negative values
    }
  }
</script>



