<!DOCTYPE html> 
  <html lang="en-US">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <head>
        <meta charset="utf-8">
        <style type="text/css" ></style>
        <meta name="author" content="LG17057">
        <meta name="description" content="A website framework designed for scholarship, with the aim to provide a device logbook for students using rental devices">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="DeviceLog">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/side_nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/overdues.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
        <script src="{{ url_for('static', filename='js/open_nav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/date_pickerjs') }}"></script>
        <div class="topheader">
          <div class="bluetopheader" style="width:100%;height:80px;border:none; z-index:-2; background-color: #114e91; position: absolute; top:0px; left:0;"></div>
          <br><br><br>
          <a title="Home Page" style="cursor: pointer;"onclick="window.location.href='/'"><img style="position:relative; top:-65px;" class="img1" title="Home Page" src="{{ url_for('static', filename='shc-logo.svg') }}" z-index="-1" width="300px" height="65px" alt="sacred heart logo"></a>
          {% if loginstatus %}
            <span id="admin-span" onclick="window.location.href='/admin'"  title="Admin Options" class="fa fa-user-circle-o" style="font-size:36px;cursor:pointer;float: right;"></span>
          {% else %}
            <a onclick="window.location.href='/login-page'"  class="button" id="login-btn">Sign In</a>
          {% endif %}
        </div>
      </head>
      <button class="openbtn" title="Open Nav" onclick="toggleNav()">☰ </button>
      <div class="sidebar" id="mySidebar">
        <button class="closebtn" title="Close Nav" onclick="toggleNav()">×</button>
        <h3 class="sidenavheader">Options</h3>
        <div class=side-panel1>
          <hr>
          <button class="accordion" title="Rental Logs Options" onclick="togglePanel(this)">Rental Logs</button>
          <div class="panel">
            <a onclick="window.location.href='/new-log'">New Rental</a>
            <a onclick="window.location.href='/sign-off'">Sign Off Rental</a>
            <a onclick="window.location.href='/sign-off'">Overdue Rentals</a>
            <a onclick="window.location.href='/rental-logs'">View Rental Logs</a>
          </div>
        </div>
        <div class=side-panel2>
          <hr>
          <button class="accordion" title="Devices Options" onclick="togglePanel(this)">Devices</button>
          <div class="panel">          
            <a onclick="window.location.href='/new-item'">New Device</a>
            <a onclick="window.location.href='/circulations'">Circulating Devices</a>
            <a onclick="window.location.href='/modify-device'">Modify Current Device</a>
            <a onclick="window.location.href='/device-logs'">View Current Devices</a>
          </div>
        </div>
        <div class=side-panel3>
          <hr>
          <button class="accordion"  title="Statistics Options" onclick="togglePanel(this)">Data</button>
          <div class="panel">
            <a onclick="window.location.href='/student-data'">Student Data</a>
            <a onclick="window.location.href='/download-logs'">Rental Data</a>
          </div>
        </div>
        <div class=side-panel4>
          <hr>
          <button class="accordion" title="Admin Options" onclick="togglePanel(this)">Admins</button>
          <div class="panel">
            <a onclick="window.location.href='/admin'">Admin Page</a>
            <a onclick="window.location.href='/login-page'">Login Page</a>
            <a onclick="window.location.href='/dev-admin'">Dev Page</a>
          </div>
          <div class="help">
            <a onclick="window.location.href='/help'" title="help">Help</a>
          </div>
        </div>  
      </div>
</html>
<body> 
<title>Rental Log - Dash</title>
<div class="primary-container">
  <hr id="rentalhr">
  
  <h1 class="main_title">{{message}}</h1>
  
  <br>
  <div class="secondary-container">
    <div class="table-container">
      <table id="devices-table" class="devices">
        <thead>
          <th>
            Date Borrowed
          </th>
          <th>
            Submitted Under

          </th>
          <th>
            Student Name
          </th>
          <th>
            Homeroom
          </th>
          <th>
            Device Type
          </th>
          <th>
            Device ID
          </th>
          <th>
            Period Borrowed
          </th>
          <th>
            Reason
          </th>
          <th>
            Period Returned
          </th>
          <th>
            Sign-Off
          </th>
          <th>
            Notes
          </th>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td>{{ row[6] }}</td>
              <td>{{ row[7] }}</td>
              <td>{{ row[8] }}</td>
              <td>{{ row[9] }}</td>
              <td>{{ row[10] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="download-container" class="download-container" style="position: relative;top: -125px;">
  <a href="/download-logs/" id="downloadbtn" class="download-btn">Download Data</a>
</div>
<div class="idpicker-container">
  <form action="/overdues" method="POST" id="device_choice">
    <div class="select-container" style="font-size:14px;">  
      <select id="device_picker_type" style="font-size: 14px;" name="devicepicker" placeholder="Device Type.." value="devicepicker">
        <option value="">Device Type: </option>
        <option value="Chromebook">Chromebook</option>
        <option value="iPad">iPad</option>
        <option value="Laptop">Laptop</option>
      </select>
      
    </div>

    <input  required type="number"  oninput="validateInput(this)"  name="idpicker" id="idpicker" class="input-field idpicker" name="device_id" placeholder="Device ID">
    <input type="submit" class="submit-btn" onclick="submitForm()" id="submit-btn" value="Select">
  </form>
  <h3 id="messages-text" >.</h3>

</div>

<style>
  .secondary-container {
    position: relative;
    top: 100px;
  }

  #downloadbtn {
    position: relative;
    top: -125px;
  }

  .main_title {
    position: relative;
    top: 100px;
  }

  .idpicker-container {
    position: relative;
    top: -290px;
    z-index: 100000;
  }
  #messages-text {
    position: relative;
    top: -140px;
    color: red;
    font-weight: 300;
    z-index: 100;
  }
</style>
</html>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    var devicepicker = document.getElementById("device_picker_type");
    var idpicker = document.getElementById("idpicker");
    var messagesText = document.getElementById("messages-text");
    var submitButton = document.getElementById("submit-btn");

    function validateInput(input) {
      input.value = input.value.replace(/[^0-9]/g, ''); // remove non-digit
      input.value = input.value.slice(0, 4); // limit to 4 digits
      if (input.value < 0) {
        input.value = ''; // clear negative 
      }
      updateMessage();
      updateSubmitButton();
    }

    function updateMessage() {
      var selectedDeviceType = devicepicker.value;
      var enteredDeviceId = idpicker.value;

      var deviceIds = {{ device_ids|tojson }};
      var deviceTypes = {{ device_types|tojson }};

      var matchingDeviceIds = [];
      for (var i = 0; i < deviceTypes.length; i++) {
        if (deviceTypes[i] === selectedDeviceType) {
          matchingDeviceIds.push(deviceIds[i]);
        }
      }

      if (enteredDeviceId !== "" && matchingDeviceIds.indexOf(enteredDeviceId) === -1) {
        messagesText.style.color = "red";
        messagesText.textContent = "Please select valid Device Type and ID.";
      } else {
        messagesText.style.color = "green";
        messagesText.textContent = enteredDeviceId !== "" ? "Valid Type and ID" : "";
      }
    }

    function updateSubmitButton() {
      var selectedDeviceType = devicepicker.value;
      var enteredDeviceId = idpicker.value;

      var deviceIds = {{ device_ids|tojson }};
      var deviceTypes = {{ device_types|tojson }};

      var matchingDeviceIds = [];
      for (var i = 0; i < deviceTypes.length; i++) {
        if (deviceTypes[i] === selectedDeviceType) {
          matchingDeviceIds.push(deviceIds[i]);
        }
      }

      if (
        enteredDeviceId === "" || // No ID entered
        matchingDeviceIds.indexOf(enteredDeviceId) === -1 || // Invalid ID
        (selectedDeviceType !== "" && enteredDeviceId === "") // Only device type selected
      ) {
        submitButton.disabled = true;
        submitButton.style.cursor = "disabled";
      } else {
        submitButton.disabled = false;
        submitButton.style.cursor = "pointer";
      }
    }

    function submitForm(event) {
      var selectedDeviceType = devicepicker.value;
      var enteredDeviceId = idpicker.value;

      var deviceIds = {{ device_ids|tojson }};
      var deviceTypes = {{ device_types|tojson }};

      var matchingDeviceIds = [];
      for (var i = 0; i < deviceTypes.length; i++) {
        if (deviceTypes[i] === selectedDeviceType) {
          matchingDeviceIds.push(deviceIds[i]);
        }
      }

      if (
        enteredDeviceId === "" || // No ID entered
        matchingDeviceIds.indexOf(enteredDeviceId) === -1 || // Invalid ID
        (selectedDeviceType !== "" && enteredDeviceId === "") // Only device type selected
      ) {
        messagesText.style.color = "red";
        messagesText.textContent = "Please select valid Device Type and ID.";
        event.preventDefault(); // Prevent form submission
      }
    }

    devicepicker.addEventListener("change", function() {
      updateMessage();
      updateSubmitButton();
    });

    idpicker.addEventListener("input", function() {
      validateInput(this);
    });

    document.getElementById("device_choice").addEventListener("submit", function(event) {
      submitForm(event);
    });
  });
</script>
<style>
  .main_title {
  position: relative;
  top: -140px;
  right: -50px;
  z-index: 2;
}

#rentalhr {
  position: relative;
  top: -70px;
}


.openbtn {
background-color: #ffffff;
color: black;
cursor: pointer;
padding: 10px 15px;
border: none;
border-radius: 5px;
font-size: 30px;
position:relative;
top: -60px;
cursor: pointer;
left: -7px;
}

.download-btn {
  position: relative;
  top: -150px;
}

</style>
<script>
   $(document).ready(function() {
   $('#devices-table').DataTable({
     paging: true,
     pageLength: 20, // num of rows / page
     lengthMenu: [10, 20, 50, 100], 
     searching: true, 
     ordering: true, 
     info: true, 
     language: {
       paginate: {
         first: 'First',
         last: 'Last',
         next: '&raquo;',
         previous: '&laquo;'
       },
       info: 'Showing _START_ to _END_ of _TOTAL_ entries'
     }
   });
 });
</script>
<script>
  function validateInput(input) {
  input.value = input.value.replace(/[^0-9]/g, ''); // remove non-digit
  input.value = input.value.slice(0, 4); // limit to 4 digits
  if (input.value < 0) {
    input.value = ''; // clear negative 
  }
}
function submitForm() {
  let devicepicker = document.getElementById('devicepicker');
  let idpicker = document.querySelector('.idpicker');
  if (devicepicker.value === "") {
    alert("Please select a device type.");
    return false; // prevent submission
  }
  if (idpicker.value !== "" && idpicker.value.length !== 4) {
    alert("Please enter a four-digit ID.");
    return false; // prevent submission
  }
}
  function filterTable() {
    let datepicker = document.getElementById("datepicker");
    let date = datepicker.value;

    if (date === "") {
      alert("Please select a date before confirming.");
      return;
    }

    let [year, month, day] = date.split("-");
    let formattedDate = `${day}-${month}`;

    // check if data exists for date
    fetch('/check-data/' + formattedDate)
      .then(response => response.json())
      .then(data => {
        if (data.exists) {
          let url = `/rental-logs/${formattedDate}`;
          window.location.href = url;
        } else {
          alert("No data available for the selected date.");
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert("An error occurred while checking data availability.");
      });
  }
</script>