<!DOCTYPE html> 
  <html lang="en-US">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <head>
        <meta charset="utf-8">
        <style type="text/css" ></style>
        <meta name="author" content="LG17057">
        <meta name="description" content="A website framework designed for scholarship, with the aim to provide a device logbook for students using rental devices">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="DeviceLog">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/side_nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/date_picker.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signup-page.css') }}">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
        <script src="{{ url_for('static', filename='js/open_nav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/date_pickerjs') }}"></script>


      </head>
      
</html>
<h1  class="main_title">Register</h1>
<title>Register Account</title>
<div class="signup-container">
  <a title="Home Page" style="cursor: pointer;"onclick="window.location.href='/'"><img class="login-logo-shc"  src="{{ url_for('static', filename='shc-log1.svg') }}"  width="325px" height="72px" alt="sacred heart logo"></a>
  <p id="sign-in">Create Account</p>

    <form action="/signup-page" method="POST">
      <label for="teacher_name" id="username-label">Username:</label><br>
      <input type="text" id="teacher_name" name="teacher_name" ><br>
      <label for="email" id="email-label">Email:</label><br>
      <input type="email" id="email" name="email" ><br>
      <label for="password" id="password-label">Password:</label><br>
      <input type="password" id="password" name="password" ><br>
      <label for="confirm_password" id="confirm-password-label">Confirm Password:</label><br>
      <input type="password" id="confirm-password" name="confirm_password"><br>
      <input type="submit" value="Register" id="registerbtn">
    </form>
    <input type="submit" value="Login" id="loginbtn" onclick="window.location.href='/login-page'">
  </div>